body {
    margin: 0;
    padding: 0;
    background: url(img-1.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

header {
    background-color: #77CB4D;
    color: black;
    padding: 1px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 100;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: darkblue;
    text-decoration: none;
}

main {
    padding: 20px;
}

.producto {
    border: 10px solid #F4AA83;
    padding: 10px;
    margin: 10px 0;
}

.producto h3 {
    margin: 0 0 10px 0;
}

#carrito {
    border-top: 20px solid #3A9087;
    margin-top: 20px;
    padding-top: 20px;
}

#lista-carrito {
    list-style: none;
    padding: 0;
}

#lista-carrito li {
    margin: 5px 0;
}

button {
    cursor: pointer;
}
